body {
    padding: 10px;
    min-width: 1280px;
    min-height: 720px;
}

form {
    width: 400px;
}

h1 {
    text-align: center;
}

form button[type='submit'] {
    width: 100%;
}

form #lolkek {
    margin-top: 5px;
    width: 100%;
}
